@use 'src/styles/mixins.scss' as *;

.container {
  display: flex;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.button {
  background-color: var(--color--shared-bg);
  min-width: 50px;
  padding: 6px;
  font-size: 1.3rem;
  transition: all 0.2s linear;

  @include font(500, var(--font-family--genos));

  &:disabled {
    cursor: not-allowed;
  }
}

.disabled {
  background-color: var(--color--main-bg--disabled);

  @include hover {
    background-color: var(--color--main-bg--disabled);
  }
}

.current {
  background-color: var(--color--main-bg);

  @include hover {
    background-color: var(--color--main-bg);
  }
}
