:root {
  // =====fonts====
  --font-family--genos: 'Genos', sans-serif;
  --font-family--roboto: 'Roboto', sans-serif;

  // =====colors====
  --color--toggle-text: rgb(59, 187, 151);
  --color--heading: #12d4de;
  --color--main-text: #000;
  --color--shadow: #d8e9ff;
  --color--cart: #bae1ee;
  --color--cart-border: #2d2d2d;
  --color--cart--hover: #ccd0d1;
  --color--shared-bg: #b9bfc4;
  --color--main-bg: #b8c3ca;
  --color--main-bg--hover: #9ab3c3;
  --color--main-bg--active: #9bf0a4;
  --color--main-bg--disabled: rgb(149, 168, 151);
  --color--error: #fd0000;
  --color--card: #d7dcde;
  --color--card--hover: #eaeeef;
  --color--card--active: #90f5f1;
  --color--card-details: #e5b6ff;
  --color--main-bg: #a9ddff;
}

[data-theme='dark'] {
  --color--toggle-text: #ffffff;
  --color--heading: #fff;
  --color--main-text: #fff;
  --color--shadow: #272a2e;
  --color--cart: #0e5870;
  --color--cart-border: #cccccc;
  --color--cart--hover: #063848;
  --color--shared-bg: #316282;
  --color--main-bg: #1b6190;
  --color--main-bg--hover: #1a6ca2;
  --color--main-bg--active: #146c1d;
  --color--main-bg--disabled: rgb(62, 92, 65);
  --color--card: #045772;
  --color--card--hover: #063848;
  --color--card--active: #06504d;
  --color--card-details: #642487;
  --color--main-bg: #0f466c;
}
