@use '@styles/mixins' as *;

.list {
  list-style: none;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.not_found {
  text-align: center;
  font-size: 2rem;

  @include font(700, var(--font-family--genos));
}
