@use './_mixins.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  font-size: 10px;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/images/background_1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include font(400, var(--font-family--genos));
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-accent);
  transition: color 0.3s;

  &:hover {
    color: var(--color-shade);
    text-decoration: underline;
  }
}

button {
  padding: 0;
  border: none;
  // font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

form {
  width: 100%;
}
