//==========FONTS==========//
@mixin font(
  $weight: 400,
  $font_name: var(--font-family--roboto),
  $style: normal
) {
  font-family: $font_name;
  font-weight: #{$weight};
  font-style: #{$style};
}

@mixin hover {
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        @content;
      }
    }
  }

  &:active {
    @media (hover: none) {
      &:hover {
        @content;
      }
    }
  }
}
