:root {
  // =====fonts====
  --font-family--genos: 'Genos', sans-serif;
  --font-family--roboto: 'Roboto', sans-serif;

  // =====colors====
  --color--white: #fff;
  --color--black: #171d25;
  --color--shadow: #272a2e;
  --color--error: rgb(241, 125, 125);
  --color--cart: #d8dee0;
  --color--cart--hover: #063848;
  --color--dark-blue: #316282;
  --color--light-blue: #3c98d6;
  --color--light-blue--hover: #1a6ca2;
  --color--light-blue--active: #2bf23f;
}
