:root {
  // =====fonts====
  --font-family--genos: 'Genos', sans-serif;
  --font-family--roboto: 'Roboto', sans-serif;

  // =====colors====
  --color--white: #fff;
  --color--black: #171d25;
  --color--shadow: #272a2e;
  --color--error: rgb(241, 125, 125);
  --color--cart: #0e5870;
  --color--cart-text: #d8dee0;
  --color--cart--hover: #063848;
  --color--dark-blue: #316282;
  --color--light-blue: #3c98d6;
  --color--light-blue--hover: #1a6ca2;
  --color--light-blue--active: #2bf23f;
  --color--light-blue--disabled: rgb(131, 168, 134);
  --color--black: #171d25;
  --color--error: rgb(241, 125, 125);
  --color--card: #045772;
  --color--card--hover: #063848;
  --color--card--active: #06504d;
  --color--card-details: #744090;
  --color--light-blue: #1d9bf0;
  --color--light-header: #a6b9c6;
  --color--light-blue--hover: #78c9ff;
  --color--light-blue--active: #2bf23f;
  --color--light-blue--disabled: #8d969bff;
}
