.container {
  max-width: 500px;
  margin: auto;
  padding: 20px 40px;
  border: 1px solid var(--color--border--light);
  border-radius: 8px;
  background-color: var(--color--background-form);
  box-shadow: 0 0 10px var(--color--shadow--dark);
  font-size: 1.1rem;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--color--dark);
}

.field {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  label {
    font-weight: 700;
    color: var(--color--dark);
  }

  input {
    padding: 4px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    &:focus {
      transform: scale(1.1);
      background-color: var(--color--input--focus);
    }
  }

  meter {
    width: 100%;
    &[value='1']::-webkit-meter-optimum-value {
      background: red;
    }
    &[value='2']::-webkit-meter-optimum-value {
      background: yellow;
    }
    &[value='3']::-webkit-meter-optimum-value {
      background: green;
    }
  }
}

.radio {
  display: flex;
  margin-left: 10px;
  gap: 20px;
  div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.condition {
  flex-direction: row;
  margin-bottom: 0;
  input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}

.error {
  color: var(--color--error);
  font-size: 0.8rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.password {
  position: relative;
  input {
    margin: 0;
  }
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--color--button);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--color--button--hover);
  }
}

.strength {
  display: flex;
  justify-content: space-between;
}

.error_container {
  height: 30px;
}
