.container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  color: var(--color--toggle-text);
  font-size: 2rem;
}

.label {
  width: 50px;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color--shared-bg);
  display: flex;
  padding: 5px;
  border-radius: 50px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
  transition: all 0.2s linear;
}

.ball {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(90%);
  background-color: var(--color--main-bg);
}

.checkbox:checked + .label {
  background-color: var(--color--main-bg--disabled);
}

.dark {
  color: var(--color--wheat);
}
