@use '@styles/mixins.scss' as *;

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: var(--color--cart);
  color: var(--color--cart);
  h2 {
    @include font(700, var(--font-family--genos));
    font-size: 2rem;
  }
  p {
    @include font(400, var(--font-family--genos));
    font-size: 1.4rem;
  }
}
