@use '@styles/mixins.scss' as *;

.container {
  position: sticky;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  color: var(--color--white);
  top: 0;
  z-index: 9;
  min-width: 380px;
  background-color: var(--color--wheat);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: popUp 0.3s ease-out;
}

.hidden {
  animation: hide 0.3s ease-out;
}

.info {
  font-size: 1.3rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 10px;
  a {
    color: inherit;
    display: inline-block;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes popUp {
  from {
    transform: translateY(calc(100% + 1.5em));
  }
  to {
    transform: translateY(0);
  }
}
@keyframes hide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(100% + 1.5em));
  }
}
