.header {
  background-color: var(--color--header);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--color--white);

  h2 {
    font-size: 2rem;
    margin: 0 auto;
  }

  a {
    font-size: 1.6rem;
    margin-left: auto;
  }
}
