.container {
  width: 100%;
  height: 100px;
  padding: 14px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: inset 0 -1px 0 0 var(--color--shadow);
}

.logo {
  max-width: 50px;
}

.search_box {
  max-width: 500px;
}
